/* CSS */
.my-button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: 100%;
    line-height: 1.2;
    border-radius: .5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    background: rgb(53, 159, 133);
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
    font-weight: 700;
}

.my-button:hover {
    background: rgb(71, 211, 176);
}

@media (min-width: 768px) {
    .my-button {
        padding: 24px;
    }
}